@import url('izitoast/dist/css/iziToast.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');

.main-container {
  display: flex;
  width: 1440px;
  min-height: 496px;
  padding: 36px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

#searchStrInput {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
#searchStrInput:hover {
  border-color: #000;
}
#searchStrInput:focus {
  border-color: #4e75ff;
  color: #2e2f42;
  outline: none;
}

.submitBtn {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fff;
  border: none;
  border-radius: 8px;
  background: #4e75ff;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.submitBtn:hover {
  background-color: #6c8cff;
}
/* Gallery */
.gallery {
  padding-left: auto;
  padding-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.gallery-card {
  box-sizing: content-box;
  width: 360px;
  height: 200px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  background: lightgray -76px -16.297px / 125.278% 150.297% no-repeat;
}
.gallery-card img {
  width: 360px;
  height: 200px;
}
.card-content {
  width: 360px;
  height: 48px;
  border-bottom: 1px solid #808080;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  position: absolute;
  bottom: 0px;
}
.stats {
  text-align: center;
}
.card-content span {
  display: block;
  font-weight: bold;
}
/* Loader */
.loader {
  width: 64px;
  height: 12px;
  background: radial-gradient(circle 6px, #fff 100%, transparent 0),
    radial-gradient(circle 6px, #fff 100%, transparent 0);
  background-size: 12px 12px;
  background-position: left center, right center;
  background-repeat: no-repeat;
  position: relative;
}
.loader:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4e75ff;
  inset: 0;
  margin: auto;
  animation: mvX 0.6s, mvY 0.3s;
  animation-timing-function: cubic-bezier(0.5, -300, 0.5, 300);
  animation-iteration-count: infinite;
}
@keyframes mvX {
  100% {
    left: 0.85px;
  }
}
@keyframes mvY {
  100% {
    top: 0.5px;
  }
}
